<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nitrogen.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nitrogen.Settings>
            <setting name="WebhookUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="WebhookName" serializeAs="String">
                <value>N2 &gt; Nitrogen</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) discord/1.0.42 Chrome/91.0.4472.164 Electron/13.4.0 Safari/537.36 Yasakar/13.37</value>
            </setting>
            <setting name="CountryCode" serializeAs="String">
                <value>BY</value>
            </setting>
            <setting name="IgnoreSuccessfulRequestsWithoutNitro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableWebhook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeLength" serializeAs="String">
                <value>24</value>
            </setting>
        </Nitrogen.Settings>
    </userSettings>
</configuration>